my_lan_subnet: "{{IP BLOCK FOR YOUR NETWORK}}"
my_docker_bridge: "{{IP BLOCK FOR YOUR DOCKER BRIDGE}}"
duckdns_host: "https://{{DUCK DNS HOST}}"
internal_url: "http://{{PUBLIC IP}}:8123"

theater_toggle_webhook_id: "somerandomstring"
turn_off_all_lights_webhook_id: "anotherrandomstring"
